/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* scrollbar */

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* glow effect */
.glow {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 2px rgba(240, 143, 74, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(240, 143, 74, 0);
  }

  100% {
    box-shadow: 0 0 0 2px rgba(240, 143, 74, 0);
  }
}
